/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}

body:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #128ff2;
    content: "";
    z-index: 0;
}*/

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-control {
    font-size: 15px;
    border: 1px solid #c8c8c8;
    margin: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
}

.form-group {
    margin-bottom: 44px;
}

.chatInput {
    padding-left: 10px;
    outline: none;
    max-width: 90%;
}

.head1, .head2, .head3, .head4, .head5, .head6 {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    color: #343320;
}

.head1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

.chatButton {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

.chatButton.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.chatButton.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

.chatButton.accent {
    background-color: #ff4743;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#username-page {
    text-align: center;
}

.username-page-container, .chat-container {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 10px;
    margin: 10px;
    min-width: 95%;
    max-height: 668px;
}

.username-page-container .username-submit {
    margin: 0px;
    margin-top: 10px;

    height: 22px;
    background-color: transparent;
    color: #43464b;
    border: 1px solid #c8c8c8;

    border-radius: 15px;
    font-size: 15px;
    border: 1px solid rgb(160, 160, 153);
    padding: 4px 8px;
}

#chat-page {
    position: relative;
    height: 100%;
    text-align: center;
}

#chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}

#chat-page #messageForm {
    padding: 20px;
    height: 20px;
}

#messageArea {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 380px;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    text-align: center;
    clear: both;
    margin-left: 0px;
    padding-left: 68px;
    padding-right: 20px;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #43464b;
}

.input-group {
    margin-bottom: 25px;
}

#messageForm .input-group input {
    float: left;
    width: 83%;
    margin-top: 1px;
    height: 21px;
}

#messageForm .input-group button {
    width: 13%;
    margin-left: 5px;
    float: right;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
    padding-left: 88px;
    padding-right: 40px;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
    padding-right: 10px;
}

.homeButton {
    padding-top: 10px;
    padding-right: 10px;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}


@media screen and (max-width: 730px) {

    .chat-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px);
    }

    .username-page-container {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        padding: 25px;
    }

    #chat-page ul {
        height: calc(100% - 120px);
    }

    #messageForm .input-group button {
        width: 65px;
    }

    #messageForm .input-group input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }
}

.chatSubmit {
    height: 32px;
    background-color: transparent;
    color: #43464b;
    border: 1px solid #c8c8c8;
    margin: 0px;
    border-radius: 15px;
    width: 100px;
    font-size: 15px;
    border: 1px solid rgb(160, 160, 153);
    padding: 4px 8px;
}

.title {
    background-color: transparent;
    color: black;
}