html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(215, 220, 222);
    font-size: 100%;
    vertical-align: baseline;
}

html {
    height: 100vh;

    background-color: rgb(66, 66, 63);
}

/* Page Sections */

.pageFrame {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px auto 50px;
    gap: 0px;
    height: 100vh;

    grid-auto-flow: dense;
    background-color: rgb(66, 66, 63);
}

.header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(52, 50, 48);

    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px;
    height: 100%;
}

.bodyLeft {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(94, 94, 90);
    min-width: 150px;
    padding-right: 6px;
    padding-left: 5%;
    border-radius: 10px;
}

.bodyCenter {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(66, 66, 63);
    align-self: stretch;
}

.bodyRight {
    height: 100vh;
}

.rightInner {
    margin: 5px;
    padding-left: 9px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(94, 94, 90);
    border: 1px solid rgb(75, 75, 73);
    padding-left: 6px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    test-overflow: ellipsis;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .bodyRight {
        visibility: hidden;
    }

    .bodyCenter {
        grid-column-end: 4;
    }
}

.footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(52, 50, 48);

}

.postHeading {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 70% 40px auto;
    height: 40px;
    border-radius: 10px;
}

.postHeading h1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    color: rgb(190, 190, 183);
    border-radius: 10px;
}

.userImg {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 4px;
    border-radius: 10px;
}

.avatar {
    width: 100%;
    height: 100%;
    background-color: rgb(111, 111, 105);
    border-radius: 15px;
}

.userName {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 3px;
    color: rgb(170, 170, 163);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.timeStamp {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 3px;
    color: rgb(170, 170, 163);
}


/* Section Elements */

.logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 50pt;
    text-align: center;
    align-self: end;
    color: rgb(170, 170, 163);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1000px) {
    .logo {
        grid-column-start: 1;
    }
}

.loginField {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
    align-self: end;
    padding-bottom: 6px;
    padding-right: 5%;
    font-size: small;
    color: rgb(130, 130, 125);
    border-radius: 10px;
}

.navButton {

    color: rgb(170, 170, 163);
    margin-bottom: 3px;
    margin-left: 0px;
    padding-right: 3px;
    padding-left: 10px;
    border-radius: 10px;
}

.navButton:hover {
    color: rgb(215, 220, 222);
}

h1 {
    font-size: larger;
    background-color: rgb(98, 98, 94);
    margin: 2px;
    padding: 4px;
    border-radius: 15px;
}

h2 {
    color: rgb(130, 130, 125);
    font-size: smaller;
    margin: 4px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(125, 126, 128);
}

p {
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.inputField {
    width: 75px;
    height: 18px;
    background-color: rgb(98, 98, 94);
    color: rgb(170, 170, 163);
    border: 0px;
    margin: 1px;
    border-radius: 10px;
}

button {
    min-width: 100px;
    height: 22px;
    background-color: rgb(235, 235, 235);
    color: rgb(160, 160, 153);
    font-size: 10pt;
    border: 1px solid rgb(160, 160, 153);
    margin: 0px;
    border-radius: 10px;

}

.borderButton {
    margin-top: 10px;
}

.maintainerHead {
    text-align: center;
}

tr {
    vertical-align: center;
}

tr:nth-child(odd) {
    background-color: rgb(88, 88, 84);
}

th {
    background-color: rgb(52, 50, 48);
}

td {
    padding: 4px;
}

.taggedField {
    display: inline-block;
    vertical-align: bottom;
}

.icon {
    width: 15px;
    height: 15px;
    margin: 3px;
    margin-bottom: 0px;
    filter: invert(58%) sepia(7%) saturate(194%) hue-rotate(22deg) brightness(86%) contrast(85%);
}

.userIcon {
    background-image: url("../images/iconUser.svg");
}

.pwIcon {
    background-image: url("../images/iconKey.svg");
}

.botIcon {
    background-color: rgb(25, 175, 30);


    border-right: 1px solid rgb(35, 200, 30);
    border-bottom: 1px solid rgb(40, 225, 35);
    border-top: 1px solid rgb(15, 150, 20);
    border-left: 1px solid rgb(15, 150, 20);
    display: inline-block;

    padding: 0px;
    margin-left: 0px;
    margin-right: 4px;
    min-height: 7px;
    min-width: 7px;

}

.botBar {
    font-size: 9pt;

    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(155, 150, 145);
    border-bottom: 3px solid rgb(150, 150, 150);
    border-top: 1px solid rgb(225, 225, 255);
    color: rgb(55, 50, 45);
    width: 160px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: left;
}

.botBubble {
    width: 160px;
    min-height: 300px;
    position: absolute;
    bottom: 29px;
    right: 4px;
    text-align: left;
    background-color: rgb(200, 200, 200);
    display: none;
}

.visible {
    display: block;
}

.fakeImg {
    background-color: rgb(120, 120, 115);
    border: 2px solid rgb(140, 140, 130);
    width: 180px;
    height: 120px;
    float: left;
    margin: 3px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.r {
    float: right;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}