<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AdminUI</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
</head>
<body>
<h1>Hello <span th:text="${currentUser.forename}"></span>!</h1>
<form method="get" action="/">
    <button type="submit">Home</button>
</form>
<br/>

<p th:text="${userExists}"></p>

<form action="#" th:action="@{/adminUI}" th:object="${newUser}" method="post">

    <label>Username (E-Mail):</label>
    <input type="email" th:field="*{email}" placeholder="max@mustermann.de" required/>
    <label>Password:</label>
    <input type="password" th:field="*{password}" placeholder="password" required/>
    <label>Forename:</label>
    <input type="text" th:field="*{forename}" placeholder="Max" required/>
    <label>Surname:</label>
    <input type="text" th:field="*{surname}" placeholder="Mustermann" required/>

    <label>Admin:</label>
    <input type="checkbox" th:field="*{admin}"/>
    <label>Maintainer:</label>
    <input type="checkbox" th:field="*{maintainer}"/>

    <select th:field="*{department}">
        <option th:each="department : ${departmentList}" th:value="${department.department}" th:text="${department.department}"></option>
    </select>

    <button type="submit">Submit</button>
</form>
<br/>

<table>
    <thead>
    <tr>
        <th>Department</th>
        <th>Chat Accessed</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="department : ${departmentList}">
        <td><span th:text="${department.department}"></span></td>
        <td><span th:text="${department.chatAccessed}"></span></td>
    </tr>
    </tbody>
</table>
<br/>

<table>
    <thead>
    <tr>
        <th>Username (E-Mail)</th>
        <th>Forename</th>
        <th>Surname</th>
        <th>Roles</th>
        <th>Department</th>
        <th>Chat Accessed</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userList.empty}">
        <td colspan="2">Database is empty.</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td><span th:text="${user.email}">Username (E-Mail)</span></td>
        <td><span th:text="${user.forename}">Forename</span></td>
        <td><span th:text="${user.surname}">Surname</span></td>
        <td><span th:each="role : ${user.roles}">
                <span th:text="${role.role}"></span><br/>
            </span></td>
        <td><span th:text="${user.department.department}"></span></td>
        <td><span th:text="${user.chatAccessed}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>