<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
</head>
<body>
<h1 th:text="${error}"></h1>
<form method="get" action="/">
    <button type="submit">Home</button>
</form>
</body>
</html>