<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>buildAll</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
<div class="pageFrame" id="pageFrame">
    <div class="header" id="header">

        <div class="logo" id="headLogo">BuildAll</div>
    </div>
    <div class="bodyLeft">

        <form th:if="${login}"method="get" action="/login">
            <button type="submit" class="borderButton">Log in</button>

        </form>
        <form th:if="${logout}" method="get" action="/logout">
            <button type="submit" class="borderButton">Log out</button>
            <span>Hello <span th:text="${user.forename}"></span></span>
        </form>

        <h2>Main Navigation: </h2>
        <a class="navButton" href="/adminUI">AdminUI</a><br/>
        <a class="navButton" href="/maintainerUI">MaintainerUI</a><br/>
        <a class="navButton" href="/chat">navPoint three</a><br/>
        <a class="navButton" href="/chat">navPoint four</a><br/>
        <a class="navButton" href="/chat">navPoint five</a><br/>

        <h2>Sub Navigation: </h2>
        <a class="navButton" href="/chat">navPoint six</a><br/>
        <a class="navButton" href="/chat">navPoint seven</a><br/>
        <a class="navButton" href="/chat">navPoint eight</a>
    </div>
    <div class="bodyCenter">
        <div class="bodyInner">
            <div class="postHeading">
                <h1>Heading One</h1>
                <div class="userImg">
                    <div class="avatar"></div>
                </div>
                <div class="timeStamp">07.07.2020</div>
            </div>

            <div class="postBody">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa sapiente incidunt pariatur beatae
                    vitae
                    odio corrupti consequuntur nostrum, itaque obcaecati iusto sed numquam quis quam aliquam excepturi,
                    voluptates exercitationem in.</p>
            </div>
        </div>
        <div class="bodyInner">
            <div class="postHeading">
                <h1><a href="/chat">HALp-9000 Chatbot</a></h1>
                <div class="userImg">
                    <div class="avatar"></div>
                </div>
                <div class="timeStamp">07.07.2020</div>
            </div>

            <div id="content">

            </div>
        </div>
        <div class="bodyInner">

            <div class="postHeading">
                <h1>An Unrelated Heading</h1>
                <div class="userImg">
                    <div class="avatar"></div>
                </div>
                <div class="timeStamp">07.07.2020</div>
            </div>

            <div>
                <div class="fakeImg"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem libero nobis aut
                    nihil
                    expedita assumenda? Quis officia culpa aliquid error ullam voluptatibus beatae dicta quia
                    dignissimos.
                    Architecto, nostrum a?</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa sapiente incidunt pariatur beatae
                    vitae
                    odio corrupti consequuntur nostrum, itaque obcaecati iusto sed numquam quis quam aliquam excepturi,
                    voluptates exercitationem in.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem libero nobis aut
                    nihil
                    expedita assumenda? Quis officia culpa aliquid error ullam voluptatibus beatae dicta quia
                    dignissimos.
                    Architecto, nostrum a?</p>
            </div>
        </div>
    </div>
    <div class="bodyRight">
        <div class="rightInner">
            <h2>Sidebar info</h2>

            <div class="postBody">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa sapiente incidunt pariatur beatae
                    vitae
                    odio corrupti consequuntur nostrum, itaque obcaecati iusto sed numquam quis quam aliquam excepturi,
                    voluptates exercitationem in.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem libero nobis aut
                    nihil
                    expedita assumenda? Quis officia culpa aliquid error ullam voluptatibus beatae dicta quia
                    dignissimos.
                    Architecto, nostrum a?</p>
            </div>

            <h2>Sidebar info two</h2>

            <div class="postBody">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa sapiente incidunt pariatur beatae
                    vitae
                    odio corrupti consequuntur nostrum, itaque obcaecati iusto sed numquam quis quam aliquam excepturi,
                    voluptates exercitationem in.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem libero nobis aut
                    nihil
                    expedita assumenda? Quis officia culpa aliquid error ullam voluptatibus beatae dicta quia
                    dignissimos.
                    Architecto, nostrum a?</p>
            </div>
        </div>
        <div class="rightInner">

            <h2>Sidebar info</h2>

            <div class="postBody">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa sapiente incidunt pariatur beatae
                    vitae
                    odio corrupti consequuntur nostrum, itaque obcaecati iusto sed numquam quis quam aliquam excepturi,
                    voluptates exercitationem in.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem libero nobis aut
                    nihil
                    expedita assumenda? Quis officia culpa aliquid error ullam voluptatibus beatae dicta quia
                    dignissimos.
                    Architecto, nostrum a?</p>
            </div>

            <h2>Sidebar info two</h2>

            <div class="postBody">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa sapiente incidunt pariatur beatae
                    vitae
                    odio corrupti consequuntur nostrum, itaque obcaecati iusto sed numquam quis quam aliquam excepturi,
                    voluptates exercitationem in.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem libero nobis aut
                    nihil
                    expedita assumenda? Quis officia culpa aliquid error ullam voluptatibus beatae dicta quia
                    dignissimos.
                    Architecto, nostrum a?</p>
            </div>

        </div>
    </div>
    <div class="footer">footer</div>
</div>

<script src='/js/script.js'></script>
</body>

</html>