<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MaintainerUI</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
</head>
<body>
<h1>Hello <span th:text="${user.forename}"></span>!</h1>
<form method="get" action="/">
    <button type="submit">Home</button>
</form>
<br/>

<h3>Add a new Answer:</h3>
<form th:action="@{/maintainerUI}" method="post">
    <label for="questionKeys">Question Keys (comma separated)</label>
    <input th:object="${questionKeys}" type="text" name="questionKeys" id="questionKeys" placeholder="Key1, Key2, Key3"
           required=""/>
    <label for="answer">Answer</label>
    <input th:object="${answer}" type="text" name="answer" id="answer" placeholder="Answer"
           required=""/>

    <label>Language:</label>
    <label for="languageEnglish">English</label>
    <input th:object="${language}" value="EN" type="radio" name="language" id="languageEnglish" checked>
    <label for="languageGerman">Deutsch</label>
    <input th:object="${language}" value="DE" type="radio" name="language" id="languageGerman">

    <button type="submit">Submit</button>
</form>

<br/>
<table>
    <thead>
    <tr>
        <th>QuestionKey</th>
        <th>Answer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${questionAnswerList.empty}">
        <td colspan="2">Database is empty.</td>
    </tr>
    <tr th:each="questionAnswer : ${questionAnswerList}">
        <td><span th:each="questionKey : ${questionAnswer.questionKeys}">
                <span th:text="${questionKey}"></span><br/>
            </span></td>
        <td><span th:text="${questionAnswer.answer}">Answer</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>